#content-box {
    border-style: solid;
    border-width: thin;
    border-color: red;
}

#concSFD{
    max-height: 45vh;
}

#concBMD{
    max-height: 45vh;
}

#UDSFD{
    max-height: 45vh;
}

#UDBMD{
    max-height: 45vh;
}