#contentBox {
    /* border-style: solid;
    border-width: thin;
    border-color: red; */
    height:100vh;
}

#concSFD{
    max-height: 45vh;
}

#concBMD{
    max-height: 45vh;
}

#UDSFD{
    max-height: 45vh;
}

#UDBMD{
    max-height: 45vh;
}

#beamAnimation{
    height: 70vh;
}

#controlBoxDiv{
    padding-top: 1rem;
    /* position: absolute; */
    bottom: 0%;
}