#contentBox {
    /* border-style: solid;
    border-width: thin;
    border-color: red; */
    height:100vh;
}

#concSFD{
    max-height: 45vh;
}

#concBMD{
    max-height: 45vh;
}

#UDSFD{
    max-height: 45vh;
}

#UDBMD{
    max-height: 45vh;
}

#beamAnimation{
    height: 70vh;
}

#controlBoxDiv{
    padding-top: 1rem;
    /* position: absolute;
    bottom: 0%; */
    /* position:absolute;
    bottom:0;
    width:100%; */
}

table{
    border-collapse: separate;
    border-spacing: 0.5rem;
}

#concForceDiagram, #UDForceDiagram{
    /* display: none; */
    margin-left: auto;
    margin-right: auto;
}

/* Moved to svg files */
/* @keyframes vertOscillate {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-3%);
    }
}

.loadIllusArrow {
    animation-name: vertOscillate;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
} */